<div>
  <h1><b>ryoukai!</b></h1>
  <img src="assets/illustrations/learn.svg">
  <h2>Japanisch lernen einfach gemacht</h2>
  <div class="question-box">
  <h4>Was möchtest du lernen?</h4>
  <div class="clr-row clr-justify-content-center clr-align-self-center">
    <div class="clr-col-lg-2 clr-col-md-8 clr-col-12">
      <div class="card">
        <div class="card-block" routerLink="/vokabeln">
          <div class="card-text">
            Vokabeln
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <div class="card-text" routerLink="/hiragana">
            Hiragana
          </div>
        </div>
      </div>
    </div>
    <div class="clr-col-lg-2 clr-col-md-8 clr-col-12">
    <div class="card">
        <div class="card-block">
          <div class="card-text" routerLink="/kanji">
            Kanji
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <div class="card-text" routerLink="/katakana">
            Katakana
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
