.title {
  font-family: "pacifico", Helvetica, Arial, sans-serif !important;
  font-size: 1.5rem !important;
}

.branding {
  justify-content: center;
  cursor: pointer;
}

clr-icon {
  cursor: pointer;
}
